@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(../img/header-back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    &__top{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0 15%;
        .mobile-logo{
            display: none;
        }
        .mobile-menu-button{
            display: none;
            .fa-bars{
                color: white;
                margin-top: 22px;
            }
            .mobile-menu-content{
                display: none;
            }
        }
        // .mobile-menu-button:hover{//------------------------------
        //     background-color: white;
        //     .mobile-menu-content{
        //         display: block;
        //     }
        // }
        .logo{
            width: 300px;
        }
        p{
            color: white;
            font-size: 20px;
            display: inline-block;
            margin-top: 45px;
            cursor: default;
            &:hover{
                color: rgb(186, 186, 186);
            }
        }
    }
    &__middle{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 300px;
        h1{
            color: white;
            font-size: 120px;
            font-weight: bold;
            text-align: center;
            margin: 0 20px;
        }
    }   
}

.main{
    .container{
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
            width: 100%;
            text-align: center;
            margin: 60px;
            h3{ 
                font-size: 48px;
                font-weight: 800;
                color:rgb(54, 54, 54);
            }
            p{
                margin: 10px 0;
                font-size: 30px;
            }
        }

        .photos{
            display: flex;
            flex-direction: row;
            margin-bottom: 50px;
            &__photo{
                width: 400px;
                height: 400px;
                margin: 20px;
                border-radius: 10px;
            }
        }
    }
}

@media(max-width: 1500px){
    .header__middle{
        height: 250px;
        h1{
            font-size: 100px;
        }
    }
    .main{
        .container{
            .photos__photo{
                width: 380px;
                height: 380px;
            }
        }
    }
}

@media(max-width: 1400px){
    .header__middle{
        height: 250px;
        h1{
            font-size: 90px;
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 44px;
                }
                p{
                    font-size: 26px;
                }
            }
            .photos__photo{
                width: 360px;
                height: 360px;
            }
        }
    }
}

@media(max-width: 1290px){
    .header__top{
        p{
            font-size: 18px;
        }
    }
    .header__middle{
        height: 230px;
    }
    .main{
        .container{
            .photos__photo{
                width: 340px;
                height: 340px;
            }
        }
    }
}

@media(max-width: 1200px){
    .header__middle{
        height: 230px;
        h1{
            font-size: 80px;
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 24px;
                }
            }
            .photos__photo{
                width: 320px;
                height: 320px;
            }
        }
    }
}

@media(max-width: 1120px){
    .header{
        &__middle{
            height: 200px;
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 38px;
                }
                p{
                    font-size: 22px;
                }
            }
            .photos__photo{
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media(max-width: 1060px){
    .header__middle{
        h1{
            font-size: 70px;
        }
    }
    .main{
        .container{
            .photos__photo{
                width: 280px;
                height: 280px;
            }
        }
    }
}

@media(max-width: 1000px){
    .header{
        background-attachment:scroll;
        background-position: 0% 0%;
        &__middle{
            height: 180px;
        }
    }
    .main{
        .container{
            .photos__photo{
                width: 270px;
                height: 270px;
            }
        }
    }
}

@media(max-width: 970px){
    .main{
        .container{
            .text{
                h3{
                    font-size: 34px;
                }
                p{
                    font-size: 20px;
                }
            }
            .photos__photo{
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media(max-width: 880px){
    .header{
        &__middle{
            height: 160px;
            h1{
                font-size: 60px;
            }
        }
    }
    .main{
        .container{
            margin-top: 0px;
            .text{
                h3{
                    font-size: 34px;
                }
                p{
                    font-size: 20px;
                }
            }
            .photos__photo{
                margin-top: 0px;
                width: 230px;
                height: 230px;
            }
        }
    }
}

@media(max-width: 830px){
    .header{
        &__top{
            p{
                font-size: 16px;
                margin-top: 36px;
            }
            .logo{
                width: 250px;
            }
        }
        &__middle{
            height: 150px;
            h1{
                font-size: 55px;
            }
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 32px;
                }
                p{
                    font-size: 18px;
                }
            }
            .photos__photo{
                margin: 0px 10px;
            }
        }
    }
}

@media(max-width: 780px){
    .header{
        &__top{
            p{
                font-size: 16px;
                margin-top: 32px;
            }
            .logo{
                width: 230px;
            }
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 16px;
                }
            }
            .photos__photo{
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media(max-width: 700px){
    .header{
        &__top{
            p{
                font-size: 16px;
                margin: 0px 10px;
                margin-top: 32px;
            }
        }
    }
    .main{
        .container{
            .photos{
                flex-direction: column;
                &__photo{
                    height: 350px;
                    width: 350px;
                    margin: 10px 0px;
                }
            }
        }
    }
}

@media(max-width: 650px){
    .header{
        &__middle{
            h1{
                font-size: 50px;
            }
        }
    }
}

@media(max-width: 650px){
    .header{
        &__top{
            p{
                font-size: 15px;
                margin: 0px 5px;
                margin-top: 32px;
            }
        }
        &__middle{
            height: 130px;
        }
    }
    .main{
        .container{
            .text{
                margin: 20px 0px;
                margin-top: 25px;
            }
        }
    }
}

@media(max-width: 590px){
    .header{
        &__top{
            p{
                font-size: 15px;
                margin: 0px 3px;
                margin-top: 32px;
            }
        }
        &__middle{
            h1{
                font-size: 40px;
            }
        }
    }
    .main{
        .container{
            .text{
                margin: 20px 0px;
                margin-top: 25px;
                h3{
                    font-size: 26px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 520px){
    .header{
        &__top{
            p{
                font-size: 13px;
                margin: 0px 5px;
                margin-top: 29px;
            }
            .logo{
                width: 200px;
            }
        }
        &__middle{
            height: 120px;
            h1{
                font-size: 40px;
            }
        }
    }
    .main{
        .container{
            .text{
                margin: 20px 0px;
                margin-top: 25px;
                h3{
                    font-size: 26px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 490px){
    .header{
        &__top{
            p{
                font-size: 11px;
                margin: 0px 5px;
                margin-top: 24px;
            }
            .logo{
                width: 170px;
            }
        }
        &__middle{
            height: 110px;
            h1{
                font-size: 35px;
            }
        }
    }
    .main{
        .container{
            .text{
                margin: 20px 0px;
                margin-top: 25px;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
            }
            .photos__photo{
                height: 300px;
                width: 300px;
            }
        }
    }
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    width: 60px;
    background-color: rgba(189, 189, 189, 0.8);
    border-radius: 10px;
    padding-bottom: 20px;
    text-align: center;
    p{
        color: black;
        font-weight: bold;
        &:hover{
            color:rgb(54, 54, 54)
        }
    }
}

@media(max-width: 400px){
    .header{
        &__top{
            .comp-text{
                display: none;
            }
            .logo{
                width: 170px;
            }
            .mobile-menu-button{
                display: block;
            }
        }
        &__middle{
            height: 110px;
            h1{
                font-size: 25px;
            }
        }
    }
    .main{
        .container{
            .text{
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
            .photos__photo{
                height: 280px;
                width: 280px;
            }
        }
    }
}

@media(max-width: 340px){
    .header{
        &__middle{
            height: 90px;
        }
    }
    .main{
        .container{
            .photos__photo{
                height: 220px;
                width: 220px;
            }
        }
    }
}

@media(max-width: 280px){
    .header{
        &__middle{
            height: 85px;
            h1{
                font-size: 20px;
            }
        }
    }
    .main{
        .container{
            .photos__photo{
                height: 160px;
                width: 160px;
            }
        }
    }
}

@media(max-width: 200px){
    .header{
        &__middle{
            h1{
                font-size: 20px;
            }
        }
    }
    .main{
        .container{
            .photos__photo{
                height: 140px;
                width: 140px;
            }
        }
    }
}

