@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-image: url(../img/header-back.jpg);
  background-size: cover;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 15%;
}
.header__top .logo {
  width: 300px;
}
.header__top p {
  color: white;
  font-size: 20px;
  display: inline-block;
  margin-top: 45px;
  cursor: default;
}
.header__top p:hover {
  color: rgb(186, 186, 186);
}
.header__middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
}
.header__middle h1 {
  color: white;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 20px;
}

.main .container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .container .text {
  width: 100%;
  text-align: center;
  margin: 60px;
}
.main .container .text h3 {
  font-size: 48px;
  font-weight: 800;
  color: rgb(54, 54, 54);
}
.main .container .text p {
  margin: 10px 0;
  font-size: 30px;
}
.main .container .photos {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.main .container .photos__photo {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 1500px) {
  .header__middle {
    height: 250px;
  }
  .header__middle h1 {
    font-size: 100px;
  }
  .main .container .photos__photo {
    width: 380px;
    height: 380px;
  }
}
@media (max-width: 1400px) {
  .header__middle {
    height: 250px;
  }
  .header__middle h1 {
    font-size: 90px;
  }
  .main .container .text h3 {
    font-size: 44px;
  }
  .main .container .text p {
    font-size: 26px;
  }
  .main .container .photos__photo {
    width: 360px;
    height: 360px;
  }
}
@media (max-width: 1290px) {
  .header__top p {
    font-size: 18px;
  }
  .header__middle {
    height: 230px;
  }
  .main .container .photos__photo {
    width: 340px;
    height: 340px;
  }
}
@media (max-width: 1200px) {
  .header__middle {
    height: 230px;
  }
  .header__middle h1 {
    font-size: 80px;
  }
  .main .container .text h3 {
    font-size: 40px;
  }
  .main .container .text p {
    font-size: 24px;
  }
  .main .container .photos__photo {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 1120px) {
  .header__middle {
    height: 200px;
  }
  .main .container .text h3 {
    font-size: 38px;
  }
  .main .container .text p {
    font-size: 22px;
  }
  .main .container .photos__photo {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1060px) {
  .header__middle h1 {
    font-size: 70px;
  }
  .main .container .photos__photo {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 1000px) {
  .header__middle {
    height: 180px;
  }
  .main .container .photos__photo {
    width: 270px;
    height: 270px;
  }
}
@media (max-width: 970px) {
  .main .container .text h3 {
    font-size: 34px;
  }
  .main .container .text p {
    font-size: 20px;
  }
  .main .container .photos__photo {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 880px) {
  .header__middle {
    height: 160px;
  }
  .header__middle h1 {
    font-size: 60px;
  }
  .main .container {
    margin-top: 0px;
  }
  .main .container .text h3 {
    font-size: 34px;
  }
  .main .container .text p {
    font-size: 20px;
  }
  .main .container .photos__photo {
    margin-top: 0px;
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 830px) {
  .header__top p {
    font-size: 16px;
    margin-top: 36px;
  }
  .header__top .logo {
    width: 250px;
  }
  .header__middle {
    height: 150px;
  }
  .header__middle h1 {
    font-size: 55px;
  }
  .main .container .text h3 {
    font-size: 32px;
  }
  .main .container .text p {
    font-size: 18px;
  }
  .main .container .photos__photo {
    margin: 0px 10px;
  }
}
@media (max-width: 780px) {
  .header__top p {
    font-size: 16px;
    margin-top: 32px;
  }
  .header__top .logo {
    width: 230px;
  }
  .main .container .text h3 {
    font-size: 30px;
  }
  .main .container .text p {
    font-size: 16px;
  }
  .main .container .photos__photo {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 700px) {
  .header__top p {
    font-size: 16px;
    margin: 0px 10px;
    margin-top: 32px;
  }
  .main .container .photos {
    flex-direction: column;
  }
  .main .container .photos__photo {
    height: 350px;
    width: 350px;
    margin: 10px 0px;
  }
}
@media (max-width: 650px) {
  .header__middle h1 {
    font-size: 50px;
  }
}
@media (max-width: 650px) {
  .header__top p {
    font-size: 15px;
    margin: 0px 5px;
    margin-top: 32px;
  }
  .header__middle {
    height: 130px;
  }
  .main .container .text {
    margin: 20px 0px;
    margin-top: 25px;
  }
}
@media (max-width: 590px) {
  .header__top p {
    font-size: 15px;
    margin: 0px 3px;
    margin-top: 32px;
  }
  .header__middle h1 {
    font-size: 40px;
  }
  .main .container .text {
    margin: 20px 0px;
    margin-top: 25px;
  }
  .main .container .text h3 {
    font-size: 26px;
  }
  .main .container .text p {
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .header__top p {
    font-size: 13px;
    margin: 0px 5px;
    margin-top: 29px;
  }
  .header__top .logo {
    width: 200px;
  }
  .header__middle {
    height: 120px;
  }
  .header__middle h1 {
    font-size: 40px;
  }
  .main .container .text {
    margin: 20px 0px;
    margin-top: 25px;
  }
  .main .container .text h3 {
    font-size: 26px;
  }
  .main .container .text p {
    font-size: 14px;
  }
}
@media (max-width: 490px) {
  .header__top p {
    font-size: 11px;
    margin: 0px 5px;
    margin-top: 24px;
  }
  .header__top .logo {
    width: 170px;
  }
  .header__middle {
    height: 110px;
  }
  .header__middle h1 {
    font-size: 35px;
  }
  .main .container .text {
    margin: 20px 0px;
    margin-top: 25px;
  }
  .main .container .text h3 {
    font-size: 24px;
  }
  .main .container .text p {
    font-size: 14px;
  }
  .main .container .photos__photo {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 400px) {
  .header__top p {
    font-size: 11px;
    margin: 0px 5px;
    margin-top: 24px;
  }
  .header__top .logo {
    width: 170px;
  }
  .header__middle {
    height: 110px;
  }
  .header__middle h1 {
    font-size: 35px;
  }
  .main .container .text {
    margin: 20px 0px;
    margin-top: 25px;
  }
  .main .container .text h3 {
    font-size: 24px;
  }
  .main .container .text p {
    font-size: 14px;
  }
  .main .container .photos__photo {
    height: 300px;
    width: 300px;
  }
}